<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=  @list.image_url %>);">
  <div class="container">
    <h1>My <%= @list.name.capitalize %> Movie Box</h1>
    <a class="btn btn btn-outline-success mt-5" href="#addForm">Add Movie</a>
  </div>
</div>




<body>
  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
		  <% @list.bookmarks.each do |bookmark| %>
		  <div class="card w-50">
      		<div class="card-block">
			    <%= image_tag bookmark.movie.poster_url, alt: "movie poster", class: "col-md-4 col-xl-3" %>
			    <%= bookmark.movie.title %>
			    <br>
			    <p>comment: <%= bookmark.comment %></p> 
      		</div>
		  </div>
		  <% end %>
        </div>
      </div>
    </div>
  </div>
</body>



<section class="container-form" id="addForm">
  <div class="card-form">
    <div class="content">
      <!-- <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/76882/logo.svg" alt="mparticle"> -->
      <h6> Add Movie</h6>
      <div class="hover_content">
        <p>
			<div>
				<%= simple_form_for [@list, @bookmark] do |f| -%>
				<%= f.error_notification %>
			  	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
				<%= f.association :movie %>
				<%= f.input :comment %>
				<%= f.submit "Add Movie", class: "btn btn-primary" %>
				<% end -%>
			</div>
        </p>
      </div>
    </div>
  </div>       
</section>


